.emptyspace {
    height: 300px;

}

.heatmap_title {
    font-size: 26px;
    font-weight: bolder;
    color: #4A73A1;
    margin-left: 40px;
}

.leaflet-div-icon {
    background: none !important;
    border: none !important;
}


.cluster-marker {
    color: #fff;
    background: #1978c8;
    border-radius: 50%;
    padding: 10px;
    width: 10px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leaflet-container {
    z-index: 0;
}